body{
    background-color: beige;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

#logo{
    height: 200px;
    display: block;
    margin: 0 auto;
    
}

#nomeIgreja{
    display: block;
    text-align: center;
}

#container1{
    
    height: 50px;
    position: relative;
    
}

#irPara{  

    
    list-style: none;
    padding: 0;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    
    
    
}

#irPara li{
    display: inline;
    text-decoration: none;
       
    
}

#irPara li a{
    
    text-decoration: none;  
    font-weight: 700;  
    color: black;
    
}

#sobre{

    width: 500px;
    margin: auto;


}

#programacao ul li{
    list-style-type: none;
}

#slider{
    border: 1px solid blue; 
    display: flex;
    overflow:hidden;
    height: 600px;
    position: relative;
    
    
}

#radios{
    border: 1px solid green;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);   
    
}

.radio{
    margin: 10px;
    
}

#todasImagens{
    
    width: 600px;
    height: 600px;
    margin: auto;
    border: 1px solid red;
    overflow:hidden;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    

    
}

.imgSlide{
    height: 600px; 
    width: 600px;
    /*
    animation-name: slideR;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}

.animar1{
    animation: mover1 1s forwards;

}

@keyframes mover1{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1800px);
    }
}


