body{
    background-color: beige;
}

#logo{
    height: 200px;
    display: block;
    margin: 0 auto;
    
}

#nomeIgreja{
    display: block;
    text-align: center;
}

#container1{
    border: 1px solid red;
    height: 50px;
    position: relative;
    
    
    
 

    
}

#irPara{  

    position: fixed;
    list-style: none;
    padding: 0;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    
    
}

#irPara li{
    display: inline;
    text-decoration: none;    
    
}

#irPara li a{
    
    text-decoration: none;    
    
}