body{
    background-color: beige;
    text-align: center;
  
}

#logo{
    height: 200px;
    display: block;
    margin: 0 auto;
    
}

#nomeIgreja{
    display: block;
    text-align: center;
}

#container1{
    
    height: 50px;
    position: relative;
    
}

#irPara{  

    position: fixed;
    list-style: none;
    padding: 0;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    
    
}

#irPara li{
    display: inline;
    text-decoration: none;    
    
}

#irPara li a{
    
    text-decoration: none;    
    
}

#sobre{

    width: 500px;
    margin: auto;


}

#programacao ul li{
    list-style-type: none;
}